*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
 --color-primary: #a91efa;
 --color-variet: rgba(0,0, 240, 0.2);
 --color-white: #fff;
 --color-light: #f4f4f4;
 --color-black: #000737;
 --color-dark: #575757;
 --color-blue: #318CE7;

 --transition: all 400ms ease;

 --container-width: 84%;
 --container-wdth-tablet: 90%;
 --container-width-phone: 94%;
}

html{
    scroll-behavior: smooth;
    font-size: 15px;
}

body{
 font-family: 'Poppins', sans-serif;
 color: var(--color-dark);
 max-width: 100vw;
}

.container{
 width: 80%;
 margin: 0 auto;
}

section{
max-width: 100vw;
overflow: hidden;
padding: 10rem 0 7rem;
}



img{
 width: 100%;
}

/* NAVBRA */

nav{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 5rem;
 top: 0;
 position: fixed;
 z-index: 2;
 border-bottom: 1px solid var(--color-light);
 background: var(--color-white);
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav .container ul{
    display: flex;
    gap: 2rem;
}

nav .container ul li a{
 color: var(--color-black);
}

.logo{
 color: var(--color-black);
 font-size: 1.7rem;
}

nav button{
 display: none;
}

/* Section landing */

section.landing{
 display: grid;
 place-items: center;
 position: relative;
 top: 5rem;
 padding-bottom: 10rem;
}

section.landing .container{
 display: grid;
 grid-template-columns: 4rem auto 28rem;
 gap: 2rem;
}

section.landing .sosial{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 1.6rem;
}

section.landing .sosial a{
 font-size: 1.1rem;
 background: var(--color-light);
 color: var(--color-dark);
 padding: 0.3rem;
 border-radius: 50%;
 width: 2rem;
 height: 2rem;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: all 1s;
}

section.landing .sosial a:hover{
    background: var(--color-primary);
    color: #fff;
}

section.landing .info h1{
    text-align: left;
    margin: 2rem 0 0 0;
}

section.landing .info h3{
    margin: 1rem 0 1rem;
}

section.landing .info p{
    width: 32rem;
}

.btn{
 padding: .8rem 2.5rem;
 background: var(--color-black);
 color: #fff;
 font-size: 1rem;
 border-radius: 3px;
 cursor: pointer;
 margin: 1rem 0;
}

section.landing .area{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.landing .area .aout-circle{
    display: block;
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    position: relative;
    background-color: var(--color-black);
    border: 1px solid var(--color-light);
    transform: translateY(-60px);
}


section.landing .area .inner-circle{
 width: 26rem;
 height: 26rem;
 border-radius: 50%;
 overflow: hidden;
 position: absolute;
 transform: translateY(-60px);
}

/* About section */

section.about{
 background: var(--color-light);
}

section.about h1{
text-align: center;
padding-top: 2rem;
font-size: 2rem;
color: var(--color-black);
}

section.about .container{
    display: grid;
    grid-template-columns: 26rem auto;
    gap: 5rem;
}

section.about .container .info{
   padding-top: 8rem;
}

section.about p{
    margin-bottom: 1rem;
}

section.about .container .read-more-count{
    display: none;
}

section.about .read-more{
    display: block;
    margin: 1rem 0 2rem;
    cursor: pointer;
    color: var(--color-primary);
}

section.about .container .read-more:hover{
    text-decoration: underline;
}

.fa-download{
    margin-right: .5rem;
}

.primary{
    padding: 1rem;
    transition: all 1s;
}

.primary:hover{
    background: transparent;
    color: var(--color-black);
    border: 1px solid var(--color-black);
}

/* END ABOUT SECTION */

section.skills{
  text-align: center;
}

section.skills .container{
    width: 35%;
}


section.skills h1{
    padding-bottom: 3rem;
    font-size: 2.5rem;
}

section.skills .skill .head{
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: var(--color-primary);
 padding: 1.6rem;
 color: #fff;
}

section.skills .skill .left{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

section.skills .skill .item{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin-bottom: .3rem;
    padding: 1.5rem;
    background:var(--color-light);
    transition: all ease .5s;
}

section.skills .skill .item:hover{
    background: var(--color-white);
}

section.skills .skill .progress{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

section.skills .skill .progress-bar{
    width: 100%;
    height: 1rem;
    background: var(--color-dark);
}

section.skills .item .progress-bar .progr  {
    width: 95%;
    height: 100%;
    background: red;
}

section.skills .item:nth-child(2) .progress-bar .progr{
    width: 80%;
}

section.skills .item:nth-child(3) .progress-bar .progr{
    width: 75%;
}

/* end skills */

section.serv{
    background: var(--color-light);
}

section.serv h1{
    text-align: center;
    padding-bottom: 3.5rem;
    font-size: 2rem;
}

section.serv .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

section.serv .container .services{
 background: var(--color-white);
 padding: 3rem 2rem;
 text-align: center;
 display: flex;
 flex-direction: column;
 gap: 2rem;
 cursor: default;
 transition: all .3s;
}

section.serv .container .services:hover{
    box-shadow: 0 3rem 3rem var(--color-black);
}

/*  */

.cou{
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 8rem;
}
  
  .dice {
   text-align: center;
   display: inline-block;
  }
  
  .cou h1 {
    margin: 20px;
    font-size: 2rem;
    color: #4ECCA3;
    cursor: pointer;
  }
  
 .cou p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }

  /* end drum */

.row{
  margin-top: 1rem;
}

 .row h1 {
  font-size: 3rem;
  color:#000737;
  text-align: center;
  }
  
  
  .w {
    background-image: url("images/tom1.png");
  }
  
  .a {
    background-image: url("images/tom2.png");
  }
  
  .s {
    background-image: url("images/tom3.png");
  }
  
  .d {
    background-image: url("images/tom4.png");
  }
  
  .j {
    background-image: url("images/snare.png");
  }
  
  .k {
    background-image: url("images/crash.png");
  }
  
  .l {
    background-image: url("images/kick.png");
  }
  
  .set {
    width: 100%;
    margin: 10% auto;
    background: var(--color-primary);
    height: 50vh;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  
  .drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }

  /* simen game */

  #level-title {
    font-size: 2rem;
    margin-top: 5%;
    color: #000;
    text-align: center;
    cursor: pointer;
  }
  
  .contain {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  
  .bt {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .presse {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  
  
  /* footer */

  .foter{
    margin-top: 3rem;
    width: 100%;
    height: 50%;
    background: #000;
    text-align: center;
    color: #fff;
    padding-top: 1rem;
  }

  .foter i{
    font-size: 2rem;
    color: #fff;
    margin: 10px;
  }

  .foter p{
   padding-top: 10px;
  }
